body {
	margin: 0px;
}
svg { 
	border: 1px solid black; 
	margin: 0 auto;
	background: url(subtlenet2.png);
}
.leftMallet {
	box-shadow: 0 0 50px 15px black;
}
video {
  -o-transform : scaleX(-1);
  -moz-transform : scaleX(-1);
  -webkit-transform : scaleX(-1);
  -ms-transform: scaleX(-1);
  transform : scaleX(-1);
  display: block;
  margin: 0 auto;
}
.contain {
  width: 960px;
  margin: 0 auto;
}
