#introIllustration {
	background-color: black;
	width: 400px;
	height: 400px;
	color: white;
}

#nameInput {
	width: 300px;
}

#playerList {
	float: right;
}

#mainContainer {
	width: 500px;
	height: 500px;
	background-color: black;
}

#gameBoard {
	width: 800px;
	height: 500px;
	background-color: black;
	color: white;
}

.score {
	margin: 5px;
}